.array-container {
    position: absolute;
    left: auto;
    top: 100px;
}

.array-bar {
    width: 2px;
    background-color: blue;
    display: inline-block;
    margin: 0 1px;
}

.main {
    display: flex;
    justify-content: center;

}

.buttons {
    position: relative;
    top: 850px;
}